@import 'primeicons/primeicons.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.s-paginator {

}

.s-paginator .s-paginator-first {
  color: #6c757d;
  min-width: 3rem;
  height: 3rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;cursor: pointer;
  text-align: center;
}

.s-paginator .s-paginator-first:hover {
  color: #343a40;
  background: #e9ecef;
}

.s-paginator .s-paginator-pages .s-paginator-page {
    color: #6c757d;
    min-width: 3rem;
    height: 3rem;
    margin: 0.143rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;cursor: pointer;
    text-align: center;
}

.s-paginator .s-paginator-pages .s-paginator-page:hover {
    color: #343a40;
    background: #e9ecef;
}

.s-highlight {
  background: #EEF2FF;
  border-color: #EEF2FF;
  color: #4338CA !important;
}
button {
  all: unset;
}
